.cardWrapper {
    composes: cardWrapper from '../../../App.module.css';
}

.bottomParagraph{
    composes : bottomParagraph from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.actionButtonWrap{
    composes : actionButtonwrap from '../StepPhoneEmail/StepPhoneEmail.module.css';
}